# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock
# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

.htaccess
/backend/web/upload/*
/backend/web/images/*
/backend/web/logo/*
!/backend/web/upload/.empty
!/backend/web/images/.empty
!/backend/web/logo/.empty
adminer.php
node_modules
/frontend/web/images/*
/frontend/web/upload/*
/frontend/web/logo/*
!/frontend/web/upload/.empty
!/frontend/web/images/.empty
!/frontend/web/logo/.empty
/frontend/web/css/dist/*
/frontend/web/js/dist/*
/frontend/web/lib/main.js
/frontend/web/sitemap.xml
/frontend/web/index.php
/frontend/web/index.html
/frontend/web/package-lock.json
/frontend/web/css/*
mosmedstrah.ru.*.log
