{{ set(this, 'title', 'RandomTube') }}
{{ use('yii/helpers/Url') }}
{% if categories %}
    {% for category in categories %}
        <div class="columns is-ancestor">
            <div class="column has-text-centered">
                <div class="categories-buttons">
                    <a href="{{ url ('site/index', {cat:category['code']}) }}" class="button btn-default itemCategoryMenu has-text-centered">
                        <h4>{{ category['name'] }}</h4>
                    </a><br>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>Категории временно отсутствуют</h1>
{% endif %}
