
<div class="wrap">
    <div class="container level">
        <a href="<?php echo !empty($this->params['category_code']) ? Url::toRoute('/' . $this->params['category_code']) : Yii::$app->homeUrl?>" class="btn level-left"><h4>RandomTube</h4></a>
        <a href="<?php echo Url::toRoute('/site/categories/'); ?>" class="btn center-block"><h4>Категории</h4></a>
        <a href="<?php echo !empty($this->params['category_code']) ? Url::toRoute('/' . $this->params['category_code'].'/add/') : Url::toRoute('/site/add/')?>" class="btn level-left"><h4>Добавить видео</h4></a>
    </div>